openapi: 3.1.0
info:
  title: OpenCPX API
  version: "v1"
  description: |
    Open Compliance Posture eXchange (OpenCPX) API Specification — Version 1.0

    OpenCPX provides a unified, lightweight, and flexible standard for exchanging compliance posture
    data between SaaS products, auditors, and automated governance systems.

    It defines how systems report and retrieve compliance posture, evidence, and framework alignment.

license:
  name: Apache 2.0
  url: https://www.apache.org/licenses/LICENSE-2.0.html
contact:
  name: OpenCPX Project
  url: https://opencpx.io
  email: maintainers@opencpx.io

servers:
  - url: https://api.opencpx.io/v1
    description: Production server
  - url: https://staging.opencpx.io/v1
    description: Staging server

paths:
  /cpx:
    post:
      summary: Submit compliance posture
      description: Submit compliance posture data for a SaaS system, service, or environment.
      operationId: submitCPX
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CPX"
          application/yaml:
            schema:
              $ref: "#/components/schemas/CPX"
      responses:
        "202":
          description: Telemetry accepted for processing
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPXResponse"
        "400":
          description: Invalid CPX payload
        "500":
          description: Internal processing error

    get:
      summary: Retrieve compliance posture
      description: Retrieve the latest compliance posture summary for a given system or service.
      operationId: getCPX
      parameters:
        - name: system_id
          in: query
          required: false
          description: Optional system identifier to filter posture
          schema:
            type: string
        - name: framework
          in: query
          required: false
          description: Filter posture by compliance framework
          schema:
            type: string
      responses:
        "200":
          description: Current compliance posture
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CPX"
        "404":
          description: No posture found for specified criteria

components:
  schemas:
    CPX:
      type: object
      required: [version, timestamp, compliance_posture, frameworks]
      properties:
        version:
          type: string
          example: "v1"
          description: Schema version
        timestamp:
          type: string
          format: date-time
          example: "2025-10-16T15:30:00Z"
          description: Time posture was generated
        compliance_posture:
          type: string
          enum: [compliant, partially_compliant, non_compliant, unknown]
          description: Overall compliance state
          example: "partially_compliant"
        frameworks:
          type: array
          description: List of compliance frameworks evaluated
          items:
            type: object
            required: [name, status, score]
            properties:
              name:
                type: string
                example: "SOC 2"
              status:
                type: string
                enum: [compliant, partial, non_compliant]
                example: "partial"
              score:
                type: number
                minimum: 0
                maximum: 1
                example: 0.75
              controls:
                type: array
                items:
                  type: object
                  required: [id, status]
                  properties:
                    id:
                      type: string
                      example: "CC1.1"
                    title:
                      type: string
                      example: "The entity demonstrates commitment to integrity and ethical values."
                    status:
                      type: string
                      enum: [compliant, partial, non_compliant]
                      example: "compliant"
                    evidence_ref:
                      type: string
                      example: "https://storage.opencpx.io/evidence/cc11-report.pdf"
        evidence_refs:
          type: array
          items:
            type: string
            example: "https://storage.opencpx.io/evidence/system-diagram.png"
        extensions:
          type: object
          additionalProperties: true
          description: Vendor or tool-specific metadata
          example:
            vendor: "Lowerplane"
            environment: "staging"

    CPXResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique posture identifier
          example: "cts-20251016-0001"
        status:
          type: string
          enum: [accepted, rejected]
          example: "accepted"
        message:
          type: string
          example: "Telemetry accepted for processing."
        received_at:
          type: string
          format: date-time
          example: "2025-10-16T15:30:01Z"

tags:
  - name: Compliance
    description: Submit or retrieve compliance posture
